body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background-color: #f0f0f0;
    color: #333;
    width: 992px;
    margin: 0 auto;
    padding: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
    margin: 1.25em 0 .25em;
}

.main-column {
    display: block;
    width: 652px;
    padding: 0 10px 0 0;
    float: left;
}

.section {
    display: block;
    float: left;
    width: 318px;
    margin-right: 8px;
    margin-bottom: 24px;
}

.right-column {
    display: block;
    width: 320px;
    padding: 0 0 0 10px;
    float: left;
}

.button {
    text-decoration: none;
    color: #eee;
    background-color: #0567C0;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #033E74;
    color: #eee;
}

a {
    text-decoration: none;
    color: #0567C0;
}

a:hover {
    color: #033E74;
}

.article-links a {
    color: #02305A;
}

.article-links a:hover {
    background-color: #02305A;
    color: #eee;
}

ul {
    list-style: none;
    padding-left: 15px;
    margin: 0;
}

li {
    margin: .5em 0;
}

.banner {
    height: 258px;
    background-image: url(banner.jpg);
    background-size: cover;
    margin-bottom: 1em;
}

.article-links {
    list-style: square;
    margin: 0.5em 0 0.5em 0.2em;
}

.page-content {
    content: "";
    display: table;
    clear: both;
}

.button-bar {
    height: 1em;
    padding: 8px;
    margin-bottom: 1em;
}
